.Chat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
}

.Message {
  width: 90%;
  padding: 0 16px;
  border-radius: 16px;
  font-size: 14px;

  &[data-role="user"] {
    align-self: flex-end;
    background: #f3f3f3;
  }
}
